html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* START MY CSS */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

header {
  height: 20%;
  min-height: 20vh;
  width: 100%;
  background-color: #323031;
  color: #c1bdb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 5%;
  position: fixed;
  top: 0vh;
}

header > h1 {
  font-size: 3em;
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search-bar > form > input {
  background-color: #c1bdb3;
  width: 100%;
  border-radius: 10px;
}

#search-bar .material-icons {
  color: #c1bdb3;
  font-size: 2.5em;
  padding-bottom: 0.5em;
}

#header-button {
  width: 10%;
  min-width: 5%;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #c1bdb3;
  color: #323031;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header-button:hover {
  background-color: #fff;
  box-shadow: 0px 0px 14px 5px rgba(193, 189, 179, 0.4);
  -webkit-box-shadow: 0px 0px 14px 5px rgba(193, 189, 179, 0.4);
  -moz-box-shadow: 0px 0px 14px 5px rgba(193, 189, 179, 0.4);
}

#container {
  height: 80vh;
  min-height: 80vh;
  width: 100%;
  flex: 1;
  background-color: #7f7979;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20vh;
}

/*CARD CSS*/

.card {
  width: 30%;
  height: 17em;
  border-radius: 10px;
  background-color: #c1bdb3;
  box-shadow: -10px 10px 5px 0px rgba(50, 48, 49, 0.75);
  -webkit-box-shadow: -10px 10px 5px 0px rgba(50, 48, 49, 0.75);
  -moz-box-shadow: -10px 10px 5px 0px rgba(50, 48, 49, 0.75);
  margin-left: 2.5%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  width: 80%;
}

.author {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

.pages {
  display: flex;
  flex-direction: row;
}

.card .pages span {
  color: black;
  padding-left: 5%;
}

.haveYouRead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*FORM CSS*/

#addBook h2 {
  font-size: 2em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 20%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 40%;
}
h2,
p {
  margin: 0 0 20px;
  font-weight: 400;
  color: #323031;
}
span {
  color: #323031;
  display: block;
  padding: 0 0 5px;
}
#addBook {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #c1bdb3;
}
input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}
.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #323031;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #fff;
  color: #323031;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #323031;
  text-decoration: none;
  cursor: pointer;
}
button.button {
  background: none;
  border-top: none;
  outline: none;
  border-right: none;
  border-left: none;
  border-bottom: #02274a 1px solid;
  padding: 0 0 3px 0;
  font-size: 16px;
  cursor: pointer;
}
button.button:hover {
  border-bottom: #a99567 1px solid;
  color: #a99567;
}

/* TOGGLE SWITCH */

.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: rgba(255, 0, 0, 0.7);
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
    inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: black;
  font-weight: 600;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: black;
  font-weight: 600;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: green;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
    ========================== */
.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/* END TOGGLE SWITCH FALSE DEFULT */

/* START TOGGLE SWITCH TRUE DEFULT */

.switch-true {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input-true {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label-true {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: green;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
    inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label-true:before,
.switch-label-true:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label-true:before {
  content: attr(data-on);
  left: 11px;
  color: black;
  font-weight: 600;
}
.switch-label-true:after {
  content: attr(data-off);
  right: 11px;
  color: black;
  font-weight: 600;

  opacity: 0;
}
.switch-input-true:checked ~ .switch-label-true {
  background: rgb(255, 0, 0, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input-true:checked ~ .switch-label-true:before {
  opacity: 0;
}
.switch-input-true:checked ~ .switch-label-true:after {
  opacity: 1;
}
.switch-handle-true {
  position: absolute;
  top: 4px;
  left: 74px; /* This sets pos of switch*/
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle-true:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input-true:checked ~ .switch-handle-true {
  left: 4px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
/* Transition
    ========================== */
.switch-label-true,
.switch-handle-true {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/* END TOGGLE SWITCH DEAFULT TRUE */
